

h1 {
    text-align:center;
}

body 
    { 
    font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
    background: url(/images/wallpaper.png) repeat; 
    color: #000000;     
    text-align:center; 
} 

#wrapper 
    {  
    width:980px;  
    text-align:left;   
    margin-left:auto;  
    margin-right:auto;  
    background-color: #FFFFFF; 
}

.main {
    display:flex;
    flex-direction:column;
}

.input-field-box {
    display: flex;
    flex-direction:row; 
    justify-content:center;
}

#task-input {
    height:30px;
    width:200px;
    border:1px solid green;
}

#add-task-btn {
    height:34px;
    width: 30px;
    font-size:20px;
    font-weight:lighter;
    
}

